extends layout

append head
  - var errorpage = true
  title Unauthorized - Omnivore

append content
  p 401 Unauthorized
  p= error
  if cert
    p Certificate:
    p= JSON.stringify(cert.subject, null, 1)
    p Expires:
    p= cert.valid_to
