extends layout

append head
  title #{course} - Omnivore

append content
  
  p: a(href=`u/${authuser}/`) My grades
  
  if authstaff
    .staff
      
      br
      
      p: a(href='users/') All users
      p: a(href='grades/') All grades
      
      br
      
      p: a(href='roster/') Edit roster
      
      br
      
      p Upload grades
      form(action='upload.csv' method='post' enctype='multipart/form-data')
        table
          tbody
            tr
              td
                p: span.btn.btn-default.btn-file
                  span.btn-file-label Select or drop CSV
                  input(name='grades', type='file', accept='.csv')
                p: textarea.form-control.txt-upload(name='gradestext', placeholder='or paste CSV', rows=5)
              td
                p: button.btn.btn-default.btn-upload(disabled) Upload
      
      br
      
      p: a(href='rules/') Key rules
      p: a(href='computations/') Computation rules
