extends layout

append head
  title #{course} - Omnivore

append content
  
  p: a(href=`u/${authuser}/`) My grades
  
  if authstaff
    .staff
      
      br
      
      p: a(href='users/') All users
      p: a(href='grades/') All grades
      
      br
      
      p Upload grades
      form(action='upload.csv' method='post' enctype='multipart/form-data')
        p: span.btn.btn-default.btn-file
          span.btn-file-label Select CSV
          input(name='grades', type='file', accept='.csv')
        p: button.btn.btn-default Upload
