include mixins

doctype
html
  head
    block head
      meta(name='viewport', content='width=device-width, initial-scale=1')
      link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css')
      link(rel='stylesheet', href='/web/style.css')
  body(class={ errorpage, staffpage }, data-page-user=pageuserdata)
    nav.navbar.navbar-fixed-top
      div(class=[ fullpage ? 'container-fluid' : 'container' ])
        p.navbar-text
          if course
            a.navbar-link(href='/'+course) Omnivore #{course}
          else
            a.navbar-link(href='/') Omnivore
        p.navbar-text.navbar-right #{authuser}
    div(class=[ fullpage ? 'container-fluid' : 'container' ])
      block content
    nav.navbar.navbar-bottom
      div(class=[ fullpage ? 'container-fluid' : 'container' ])
        p.navbar-text.nom
        p.navbar-text.navbar-right MIT EECS
    block scripts
      script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js')
      script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js')
      script(src='/web/script.js')
