extends layout

append head
  title Roster - #{course} - Omnivore

append content
  
  p Roster
  
  form(method='post')
    p: textarea(name='roster', rows=20)= roster.join('\n')
    p: button.btn.btn-default Update
