{
  "openstack_auth_url": "https://nimbus.csail.mit.edu:5001/v2.0",
  "openstack_username": "...",
  "openstack_password": "...",
  "openstack_tenant": "...",
  "openstack_source_image": "4dc46de2-e7f8-457d-b3fb-eb082d81d87b",
  "openstack_flavor": "ef2521ec-6368-43bf-bb63-9fe9d0b5527f",
  "openstack_secgroup": "...",
  
  "deploy_openstack_key": "...",
  
  "app": "omnivore"
}
