module.exports = {
  hostname: 'localhost',
  oidc: {
    server: 'https://oidc.example.com',
    client: {
      client_id: 'omnivore',
      client_secret: ...,
      redirect_uris: [ 'http://localhost:2580/auth' ],
    },
    email_domain: 'example.com',
  },
  web_secret: ...,
  db: {},
  mit: {
    domain: 'cloudhub.io',
    client_id: ...,
    client_secret: ...,
  },
};
