@import url(https://fonts.googleapis.com/css?family=Roboto|Roboto+Mono);

/* header/footer */
html {
  position: relative;
  min-height: 100%;
}
body {
  padding-top: 80px;
  margin-bottom: 80px;
}
nav.navbar.navbar-bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin-bottom: 0;
}

/* https://color.adobe.com/Aspirin-C-color-theme-251864/ */

body {
  background: rgba(243, 255, 226, 0.5);
  color: rgb(34, 83, 120);
  font-size: 18px;
}
body.errorpage {
  background: rgb(22, 149, 163);
  color: rgb(243, 255, 226);
}

* {
  font-family: 'Roboto Mono', monospace;
  font-weight: 400;
}

a {
  color: rgb(22, 149, 163);
}
a:hover {
  color: rgb(34, 83, 120);
}
nav.navbar {
  background: rgb(22, 149, 163);
  color: rgb(243, 255, 226);
  border-radius: 0;
}
nav.navbar .navbar-text {
  float: left; /* disable collapsed layout */
  margin-left: 0;
  margin-right: 0;
}
nav.navbar .navbar-text.navbar-right {
  float: right;  /* disable collapsed layout */
}
nav.navbar .navbar-link {
  color: rgb(243, 255, 226);
}

.staff {
  color: rgb(118, 64, 0);
}
.staff a {
  color: rgb(235, 127, 0);
}
.staff a:hover {
  color: rgb(118, 64, 0);
}
body.staffpage nav.navbar {
  background: rgb(235, 127, 0);
}

.pre-wrap {
  white-space: pre-wrap;
}

/* http://www.abeautifulsite.net/whipping-file-inputs-into-shape-with-bootstrap-3/ */
.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  opacity: 0;
  outline: none;
  background: none;
  cursor: inherit;
  display: block;
}

table {
  border-collapse: collapse;
  margin-bottom: 10px;
}
table tr td {
  padding: 0 10px 5px 10px;
  vertical-align: baseline;
}
table tr td:first-child {
  padding-left: 0;
}

span[data-breakable] {
  word-break: break-all;
}
span[data-unbreakable] {
  white-space: nowrap;
}

td.ts {
  font-size: 12px;
  white-space: nowrap;
}

a.history { display: inline-block; margin: 0 10px; }
a.history::before { content: '[history]'; }

a.csv { display: inline-block; margin: 0 10px; }
a.csv::before { content: '[csv]'; }

.bullet::after { content: '-'; }
.bullet[data-computed]::after { content: '>'; }

.due[data-value]::before { content: 'due '; }

.late[data-on]::before { content: '[late] '; }

.active::before { content: '[inactive] '; }
.active[data-on]::before { content: ''; }

.visible::before { content: '[hidden] '; }
.visible[data-on]::before { content: ''; }

.override[data-on]::before { content: '[override] '; }

.raw[data-on]::before { content: '[input]'; }

.comment .key,
.comment .value { font-size: 15px; vertical-align: top; }
.comment .key { text-align: right; }
.comment .value { padding-left: 20px; padding-right: 0; }

.roster[data-on]::before { content: '[*]'; }

*[data-invalid] {
  text-decoration: line-through;
  opacity: 0.5;
}

table.sheet {
  font-size: 15px;
}

table.sheet th {
  height: 15em;
  vertical-align: bottom;
  white-space: nowrap;
  transform: translate(.8em) rotate(-20deg);
  transform-origin: left bottom;
}
table.sheet th a {
  display: block;
  width: 3em;
}

table.sheet td.value[data-type=none] {
  background: rgba(235, 127, 0, 0.3);
}
table.sheet td.value[data-type=boolean] {
  background: rgba(22, 149, 163, 0.3);
}
table.sheet td.value[data-type=string] {
  font-size: 10px;
  min-width: 10em;
  background: rgba(22, 149, 163, 0.1);
}

.nom:after { content: '\2014'; }
.nom.nom-nom:after { content: '<'; }
